<ion-view title="Registrarse" id="page5" style="background-color:#1D3A83;">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 47px;"></div>
    <div id="crearusuario-form4" class="list">
      <label class="item item-input" id="crearusuario-input8">
        <input type="email" placeholder="Email" id="email">
      </label>
      <div class="spacer" style="width: 300px; height: 36px;"></div>
      <label class="item item-input" id="crearusuario-input12">
        <input type="password" placeholder="Password" id="password">
      </label>
      <div class="spacer" style="width: 300px; height: 36px;"></div>
      <label class="item item-input" id="crearusuario-input9">
        <input type="text" placeholder="Nombre" id="nombre">
      </label>
      <div class="spacer" style="width: 300px; height: 36px;"></div>
      <label class="item item-input" id="crearusuario-input12">
        <input type="text" placeholder="Apellido" id="apellido">
      </label>
      <div class="spacer" style="width: 300px; height: 36px;"></div>
      <label class="item item-input" id="crearusuario-input11">
        <input type="text" placeholder="Telefono" id="telefono">
      </label>
      <div class="spacer" style="width: 300px; height: 36px;"></div>
    </div>
    <button  id="crearusuario-button6" class="button button-positive  button-block" ng-click="CrearUsuario()">Registrarse</button>
  </ion-content>
</ion-view>