<ion-view title="juego" id="page7" style="background-color:#1D3A83;">
  <ion-content padding="true" class="has-header">
    <form id="juego-form13" class="list">
      <ion-radio id="juego-radio4">1</ion-radio>
      <ion-radio id="juego-radio7">2</ion-radio>
      <ion-radio id="juego-radio8">3</ion-radio>
      <ion-radio id="juego-radio9">4</ion-radio>
      <ion-radio id="juego-radio6">5</ion-radio>
      <ion-radio id="juego-radio5">6</ion-radio>
    </form>
    <button id="juego-button13" class="button button-positive  button-block">Tap me!</button>
  </ion-content>
</ion-view>