<ion-view title="login" id="page1" style="background-color:#1D3A83;">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 163px;"></div>
    <form id="login-form2" class="list">
      <label class="item item-input" id="login-input3">
        <input type="text" id="email" placeholder="Email">
      </label>
      <div class="spacer" style="width: 300px; height: 13px;"></div>
      <label class="item item-input" id="login-input4">
        <input type="password" id="pass" placeholder="Password">
      </label>
    </form>
    <button  id="login-button1" class="button button-positive  button-block" ng-click="login()">Ingresar</button>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <a ui-sref="crearusuario" id="login-button1" ><p>Registrarse!!!  </p></a>
  
  </ion-content>
</ion-view>