<ion-view title="menu" id="page3" style="background-color:#1D3A83;">
 
  
      <ion-toggle toggle-class="toggle-balanced" ng-checked="true" id="menu-toggle3">Desloguear</ion-toggle>

    <div class="spacer" style="width: 300px; height: 128px;"></div>

    <a ui-sref="sala" id="menu-button3" class="button button-positive  button-block">Sala de juego</a>

    <div class="spacer" style="width: 300px; height: 35px;"></div>

    <a ui-sref="crearjuego" id="menu-button5" class="button button-positive  button-block" ng-if="visibilidad">Crear Juego</a>

     <div class="spacer" style="width: 300px; height: 35px;"></div>	

    <a ui-sref="perfil"  class="button button-positive  button-block">Perfil</a>

  </ion-content>
</ion-view>