<ion-view title="perfil" id="page4" style="background-color:#1D3A83;">
  <ion-content padding="true" class="has-header">
    <form id="crearjuego-form9" class="list">
      <ion-toggle toggle-class="toggle-balanced" ng-checked="true" id="crearjuego-toggle6">Desloguear</ion-toggle>
    </form>
    <table border>
      <tr>
        <td>Nombre</td><td>Apellido</td><td>Dni</td>
      </tr>
      <tr>
        <td>{{Nombre}}</td><td>{{Apellido}}</td><td>{{Dni}}</td>
      </tr>
      <tr>
        <td>Telefono</td><td>Email</td><td>Monedas</td>
      </tr>
      <tr>
         <td>{{Telefono}}</td><td>{{Email}}</td><td>{{Monedas}}</td>
      </tr>
    </table>
    <button id="crearjuego-button5" class="button button-positive  button-block" ng-click="guardarjuego()">Crear Juego</button>
  </ion-content>
</ion-view>