<ion-view title="sala" id="page2" style="background-color:#1D3A83;">
  <ion-content padding="true" class="has-header">
    <form id="sala-form8" class="list">
      <ion-toggle toggle-class="toggle-balanced" ng-checked="true" id="sala-toggle5">Desloguear</ion-toggle>
    </form>
    <div class="spacer" style="width: 300px; height: 67px;"></div>
   

   <table border>
      <tr>
        <th>Apuesta</th>
        <th>Nombre de la partida</th>
      </tr>
      <tr ng-repeat="x in juegos">
        <td>{{x.apuesta}}</td>
        <td><ion-radio  value="{{x.email}}" color="dark " id="{{x.objeto}}" name="cuadro">{{x.nombre}}</ion-radio></td>
  </table>
   
    <div class="spacer" style="width: 300px; height: 55px;"></div>
    <button id="sala-button2" class="botonsala" ng-click="Comenzar()">Comenzar juego</button>
  </ion-content>
</ion-view>