<ion-view title="menu" id="page3" style="background-color:#1D3A83;">
 
      <ion-toggle toggle-class="toggle-balanced" ng-checked="true" id="menu-toggle3" ng-click="Desloguear()">Desloguear</ion-toggle>

       <h1 class="titulosolicitud">Solicitud de Monedas!!</h1>

      <form id="login-form2" class="list solicitudform">
      <label class="item item-input" id="login-input3">
        <input type="text" id="numero" placeholder="Numero de tarjeta">
      </label>
      <div class="spacer" style="width: 300px; height: 13px;"></div>
      <label class="item item-input" id="login-input4">
        <input type="text" id="monto" placeholder="cantidad de monedas">
      </label>
    </form>
    <button  id="login-button1" class="button button-positive   buttonsolicitud" ng-click="solicitud()">Ingresar</button>
    <a ui-sref="menu" id="login-button1" class="salamenu"><img src="img/casita.png" class="imghome"></a>
</ion-view>