<ion-view title="Aceptarsolicitud" id="page4" style="background-color:#1D3A83;">
  <ion-content>
   <ion-toggle toggle-class="toggle-balanced" ng-checked="true" id="menu-toggle3" ng-click="Desloguear()">Desloguear</ion-toggle>


      <h1 class="titulomenu">Aceptar solicitud de monedas</h1>
 <div id="todo">
  <table border class="tablasala">
      <tr>
        <th>Monto</th>
        <th>Correo</th>
      </tr>
      <tr ng-repeat="x in solicitudes">
        <td>{{x.monto}}</td>
        <td><ion-radio  value="{{x.fila}}" color="dark " id="{{x.objeto}}" name="cuadro">{{x.email}}</ion-radio></td>
      </tr>
  </table>
   
 
    <button  class="button button-positive buttonaceptar" ng-click="Aceptar()">Aceptar</button>
    <button  class="button button-positive buttonrechazar" ng-click="Rechazar()">Rechazar</button>

     <a ui-sref="menu" id="login-button1" class="salamenu"><img src="img/casita.png" class="imghome"></a>

        <div id="qr" style="visibility:hidden;">

    
        </div>
        <div id="prueba" style="visibility:hidden;">
          <img src="img/casita.png">
        </div>
</div>
    <input type="hidden" value="" id="msg" name="msg">
    <input type="hidden" id="src"> 
  </ion-content>
</ion-view>
