<ion-view title="menu" id="page3" style="background-color:#1D3A83;">
 
      <ion-toggle toggle-class="toggle-balanced" ng-checked="true" id="menu-toggle3" ng-click="Desloguear()">Desloguear</ion-toggle>
  <h1 class="titulomenu">Cargar monedas</h1>
 <div class="spacer" style="width: 300px; height: 200px;"></div>
       <label class="item item-input" id="login-input3">
           <input type="text" id="codigo" placeholder="Codigo">
      </label>
          


      <button  id="login-button1" class="button button-positive   buttoncarga" ng-click="cargar()">Ingresar</button>
  </ion-content>
</ion-view>