<ion-view title="juego" id="page7" style="background-color:#1D3A83;">
  <ion-content>
   

 <div class="spacer" style="width: 300px; height: 35px;"></div> 
      <h1 class="titulojuego">Juga!!</h1>
    <form id="juego-form13" class="list">
      <table class="tablajuego">
        <tr>
          <td><ion-radio id="juego-radio4" value="1" name="cuadro">1</ion-radio></td>
          <td><ion-radio id="juego-radio7" value="2" name="cuadro">2</ion-radio></td>
          <td><ion-radio id="juego-radio8" value="3" name="cuadro">3</ion-radio></td>
        </tr>
        <tr>
          <td><ion-radio id="juego-radio9" value="4" name="cuadro">4</ion-radio></td>
          <td><ion-radio id="juego-radio6" value="5" name="cuadro">5</ion-radio></td>
          <td><ion-radio id="juego-radio5" value="6" name="cuadro">6</ion-radio></td>
        </tr>
      </table>
    </form>

    <button id="juego-button13" class="button button-positive buttonjuego" ng-click="partida()">Aceptar</button>
  </ion-content>
</ion-view>