
<ion-view title="menu" id="page3" style="background-color:#1D3A83;">
 
      <ion-toggle toggle-class="toggle-balanced" ng-checked="true" id="menu-toggle3" ng-click="Desloguear()">Desloguear</ion-toggle>


      <h1 class="titulomenu">Menu</h1>
    <div class="spacer" style="width: 300px; height: 128px;"></div>

    <a ui-sref="sala" id="menu-button3" class="button button-positive  button-block">Sala de juego</a>

    <div class="spacer" style="width: 300px; height: 20px;"></div>

    <a ui-sref="crearjuego" id="menu-button5" class="button button-positive  button-block" >Crear Juego</a>

     <div class="spacer" style="width: 300px; height: 20px;"></div>	

    <a ui-sref="perfil"  class="button button-positive  button-block">Perfil</a>

    <div class="spacer" style="width: 300px; height: 20px;"></div>	

    <a ui-sref="cargarmonedas"  class="button button-positive  button-block">Cargar Monedas</a>

    <div class="spacer" style="width: 300px; height: 20px;"></div>

     <a ui-sref="aceptarsolicitud"  class="button button-positive  button-block">Aceptar Solicitud</a>

    <div class="spacer" style="width: 300px; height: 20px;"></div>	

    <a ui-sref="solicitarmonedas"  class="button button-positive  button-block">Solicitar Monedas</a>

  </ion-content>
</ion-view>